<!DOCTYPE html>
<html>
<head>
    <title>Tracking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>

    <h1 style="font-size:50px;">Skeleton tracking with Realsense cameras</h1>
    <div style="display:flex; height:1500px">
        <div class="3Dplot" style="width:50%; height:100%">
            <h2 style="font-size:30px;">3D plot</h2>
            <iframe src="/dash/" frameborder="0"  style="width:100%; height:100%"></iframe>
        </div>

        <div class="stream" style="width:50%; height:100%">
            <h2 style="font-size:30px;">Streaming</h2>
            <img id="image" src="">
            <script>
                const socket1 = io();
                socket1.on('update_stream', function(data) {
                    img = document.getElementById("image");
                    img.src = "data:image/png;base64," + data.frame;
                });
            </script>
        </div>
    </div>
</body>
</html>